{% extends "base.html" %}
{% block title %}{{ user.username }}'s Music Collection{% endblock %}
{% block content %}

    <div class="block"></div>
    <div class="block">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Title
                    <span class="icon">
                        <span class="fa-stack fa-sm">
                        <a href="?order_by=title&dir=asc">
                        <i  class="fas fa-angle-up"></i>
                        </a>
                        <a href="?order_by=title&dir=desc">
                        <i  class="fas fa-angle-down"></i>
                        </a>
                        </span>
                    </span>
                </th>
                <th>Artist
                    <span class="icon">
                        <span class="fa-stack fa-sm">
                        <a href="?order_by=artist&dir=asc">
                        <i  class="fas fa-angle-up"></i>
                        </a>
                        <a href="?order_by=artist&dir=desc">
                        <i  class="fas fa-angle-down"></i>
                        </a>
                        </span>
                    </span>
                </th>
                <th>Album
                    <span class="icon">
                        <span class="fa-stack fa-sm">
                        <a href="?order_by=album&dir=asc">
                        <i  class="fas fa-angle-up"></i>
                        </a>
                        <a href="?order_by=album&dir=desc">
                        <i  class="fas fa-angle-down"></i>
                        </a>
                        </span>
                    </span>
                </th>
                <th>BPM
                    <span class="icon">
                        <span class="fa-stack fa-sm">
                        <a href="?order_by=bpm&dir=asc">
                        <i  class="fas fa-angle-up"></i>
                        </a>
                        <a href="?order_by=bpm&dir=desc">
                        <i  class="fas fa-angle-down"></i>
                        </a>
                        </span>
                    </span>
                </th>
                <th>Key
                    <span class="icon">
                        <span class="fa-stack fa-sm">
                        <a href="?order_by=key&dir=asc">
                        <i  class="fas fa-angle-up"></i>
                        </a>
                        <a href="?order_by=key&dir=desc">
                        <i  class="fas fa-angle-down"></i>
                        </a>
                        </span>
                    </span>
                </th>
                <th>Date
                    <span class="icon">
                        <span class="fa-stack fa-sm">
                        <a href="?order_by=import_date&dir=asc">
                        <i  class="fas fa-angle-up"></i>
                        </a>
                        <a href="?order_by=import_date&dir=desc">
                        <i  class="fas fa-angle-down"></i>
                        </a>
                        </span>
                    </span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for music in object_list %}
                <tr>
                    <td>{{ music.title }}</td>
                    <td>{{ music.artist.name }}</td>
                    <td>{{ music.album.name }}</td>
                    <td>{{ music.bpm }}</td>
                    <td style="color: #{{ music.get_key_color }}">{{ music.key.value }}</td>
                    <td>{{ music.released_date }}</td>
                    <td>
                        <div class="dropdown is-right">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span>Add to collection</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                                    <a class="dropdown-item">
                                        Other dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item is-active">
                                        Active dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Other dropdown item
                                    </a>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>

            {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="block">
        {% if is_paginated %}
            <div class="container has-text-centered">
            <span>
                {% if page_obj.has_previous %}
                    <a href="{% url 'music_collection:music_list' %}?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'music_collection:music_list' %}?page={{ page_obj.next_page_number }}">Next page</a>
                {% endif %}
            </span>
            </div>
            </div>
        {% endif %}
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            // Dropdowns

            var $dropdowns = getAll('.dropdown:not(.is-hoverable)');

            if ($dropdowns.length > 0) {
                $dropdowns.forEach(function ($el) {
                    $el.addEventListener('click', function (event) {
                        event.stopPropagation();
                        $el.classList.toggle('is-active');
                    });
                });

                document.addEventListener('click', function (event) {
                    closeDropdowns();
                });
            }

            function closeDropdowns() {
                $dropdowns.forEach(function ($el) {
                    $el.classList.remove('is-active');
                });
            }

            // Close dropdowns if ESC pressed
            document.addEventListener('keydown', function (event) {
                var e = event || window.event;
                if (e.keyCode === 27) {
                    closeDropdowns();
                }
            });

            // Functions

            function getAll(selector) {
                return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
            }
        });
    </script>
{% endblock %}