{% extends "base.html" %}
{% block title %}{{ user.username }}'s Music Collection{% endblock %}
{% block content %}

    <div class="block"></div>
    <div class="block">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Title
                    <span class="icon">
                        <span class="fa-stack fa-sm">
                        <a href="?order_by=title&dir=asc">
                        <i href="google.com" class="fas fa-angle-up"></i>
                        </a>
                        <a href="?order_by=title&dir=desc">
                        <i href="google.com" class="fas fa-angle-down"></i>
                        </a>
                        </span>
                    </span>
                </th>
                <th>Artist
                    <span class="icon">
                        <span class="fa-stack fa-sm">
                        <a href="?order_by=artist&dir=asc">
                        <i href="google.com" class="fas fa-angle-up"></i>
                        </a>
                        <a href="?order_by=artist&dir=desc">
                        <i href="google.com" class="fas fa-angle-down"></i>
                        </a>
                        </span>
                    </span>
                </th>
                <th>Album
                    <span class="icon">
                        <span class="fa-stack fa-sm">
                        <a href="?order_by=album&dir=asc">
                        <i href="google.com" class="fas fa-angle-up"></i>
                        </a>
                        <a href="?order_by=album&dir=desc">
                        <i href="google.com" class="fas fa-angle-down"></i>
                        </a>
                        </span>
                    </span>
                </th>
                <th>BPM
                    <span class="icon">
                        <span class="fa-stack fa-sm">
                        <a href="?order_by=bpm&dir=asc">
                        <i href="google.com" class="fas fa-angle-up"></i>
                        </a>
                        <a href="?order_by=bpm&dir=desc">
                        <i href="google.com" class="fas fa-angle-down"></i>
                        </a>
                        </span>
                    </span>
                </th>
                <th>Key
                    <span class="icon">
                        <span class="fa-stack fa-sm">
                        <a href="?order_by=key&dir=asc">
                        <i href="google.com" class="fas fa-angle-up"></i>
                        </a>
                        <a href="?order_by=key&dir=desc">
                        <i href="google.com" class="fas fa-angle-down"></i>
                        </a>
                        </span>
                    </span>
                </th>
                <th>Date
                    <span class="icon">
                        <span class="fa-stack fa-sm">
                        <a href="?order_by=import_date&dir=asc">
                        <i href="google.com" class="fas fa-angle-up"></i>
                        </a>
                        <a href="?order_by=import_date&dir=desc">
                        <i href="google.com" class="fas fa-angle-down"></i>
                        </a>
                        </span>
                    </span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for music in object_list %}
                <tr>
                    <td>{{ music.title }}</td>
                    <td>{{ music.artist.name }}</td>
                    <td>{{ music.album.name }}</td>
                    <td>{{ music.bpm }}</td>
                    <td style="color: #{{ music.get_key_color }}">{{ music.key.value }}</td>
                    <td>{{ music.released_date }}</td>
                </tr>

            {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="block">
        {% if is_paginated %}
            <div class="container has-text-centered">
            <span>
                {% if page_obj.has_previous %}
                    <a href="{% url 'music_collection:music_list' %}?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'music_collection:music_list' %}?page={{ page_obj.next_page_number }}">Next page</a>
                {% endif %}
            </span>
            </div>
            </div>
        {% endif %}
{% endblock %}