[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pylint = "*"
argon2 = "*"
argon2-cffi = "*"
django-widget-tweaks = "*"
pylint-django = "*"
djangorestframework = "*"
python-decouple = "*"
mysqlclient = "*"
psycopg2 = "*"
hypercorn = "*"
svgwrite = "*"

[dev-packages]

[requires]
python_version = "3.9"
