{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    {% if validlink %}
    <div class="is-primary">
        {% include 'form.html' with submit_button_value="Change password" %}
    </div>
        {% else %}
        <article class="message is-danger">
  <div class="message-header">
    <p>Can not change password</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    This link has expired.  </div>
</article>
    {% endif %}

{% endblock %}
