{% load static %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href={% url 'landing' %}>
            <img src="{% static 'banner.png' %}" alt="djRDO logo">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            {% if user.is_authenticated %}
                <a class="navbar-item" href="{% url 'music_collection:music_list' %}">
                    Music Library
                </a>
                <a class="navbar-item" href="{% url 'music_collection:collection_list' %}">
                    Collections
                </a>
                <a class="navbar-item" href="{% url 'accounts:stats' %}">
                    Insights
                </a>
            {% endif %}
            <div class="navbar-item has-dropdown is-hoverable ">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown ">
                    <a class="navbar-item" href="{% url "about" %}">
                        About
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="https://github.com/gbip/djRDO/issues">
                        Report an issue
                    </a>
                </div>
            </div>

        </div>

        <div class="navbar-end">
            {% if user.is_authenticated %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'music:index' %}">
                            <span class="icon">
                                <i class="fas fa-upload "></i>
                            </span>
                            <strong>Import Music</strong>
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="navbar-item">
                {% if user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link ">
                            {{ user.username }}
                        </a>

                        <div class="navbar-dropdown ">
                            <a class="navbar-item" href="{% url 'accounts:profile' %}">
                                Profile
                            </a>
                            <a class="navbar-item">
                                Settings
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="{% url 'accounts:logout' %}">
                                Logout
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="buttons">
                    {% if registration_enabled %}
                        <a class="button is-primary" href="{% url 'accounts:register' %}">
                             <span class="icon">
                                <i class="fas fa-user"></i>
                            </span>
                            <span>Sign up</span>
                        </a>
                    {% endif %}
                        <a href="{% url 'accounts:login' %}" class="button is-primary is-outlined">
                            <span class="icon">
                                <i class="fas fa-sign-in-alt"></i>
                            </span>
                            <span>Log in</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<hr style="
    display: block;
    border: 0;
    height: 1px;
    border-top: 1px solid #ccc;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;"/>
